/*Info*/
.figure-img img{
   border:double 2px burlywood;
   margin-left:40%;
   border-radius:50%;
   background-color:lightblue;
}
.card{
  background-color: gainsboro !important;
  border:groove grey 2px !important;
}
.card-footer{
  background-color: orange !important;
  border-top:grey 2px groove !important;
}
@media screen and (max-width: 768px) {
  .figure-img img{
    margin-left:21.6%;
  }
}
.figure-img{
  background-image:url(images/back.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
/*background*/
#showcase {
  min-height: 400px;
  background: url('images/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  padding:2em;
}
/*Skills*/
.heading{
  margin-right:10%;
}
@media only screen and (max-width:768px) {
  .heading{
    margin-right: 0rem;
  }
}
#boxes{
  margin-top: :20px;
}
.container
{
  width:80%;
  margin:auto;
  overflow: hidden;
}
#boxes .box{
  text-align: center;
  width: 30%;
  float:left;
  padding:10px;
}
@media only screen and (max-width:768px) {
  #boxes .box{
    float: none;
    text-align: center;
    width:100%;
  }
}
#boxes .box img{
  width:90px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}
/*Contact-Icons*/
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-github {
  background: #f1502f;
  color: white;
}
body{
  background-color:rgba(252, 254, 255, 0.925)!important;
  }
  .aboutme{
    background-image: url(images/aboutme.jpg);
    min-height: 174.4px;
    background-repeat:repeat ;
    
  }
  #demo{
    background-image: url(images/aboutme.jpg);
    min-height: 174.4px;
    background-repeat:repeat ;
    
  }


